<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="description" content="Intellij HR">
	<meta name="keywords" content="admin, estimates, bootstrap, business, html5, responsive, Projects">
	<meta name="author" content="ZIREAL - Bootstrap Website">
	<meta name="robots" content="noindex, nofollow">
	<title>Smarthr Admin Template</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="https://smarthr.co.in/demo/html/template/assets/img/favicon.png">

	<!-- Apple Touch Icon -->
	<link rel="apple-touch-icon" sizes="180x180" href="https://smarthr.co.in/demo/html/template/assets/img/apple-touch-icon.png">

	<!-- Theme Script js -->
	<script src="../../template/assets/js/theme-script.js"></script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../../template/assets/css/bootstrap.min.css">

	<!-- Feather CSS -->
	<link rel="stylesheet" href="../../template/assets/plugins/icons/feather/feather.css">

	<!-- Tabler Icon CSS -->
	<link rel="stylesheet" href="../../template/assets/plugins/tabler-icons/tabler-icons.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="../../template/assets/plugins/select2/css/select2.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="../../template/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="../../template/assets/plugins/fontawesome/css/all.min.css">

	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="../../template/assets/css/bootstrap-datetimepicker.min.css">

	<!-- Summernote CSS -->
	<link rel="stylesheet" href="../assets/plugins/summernote/summernote-lite.min.css">

	<!-- Daterangepikcer CSS -->
	<link rel="stylesheet" href="../assets/plugins/daterangepicker/daterangepicker.css">

	<!-- Color Picker Css -->
	<link rel="stylesheet" href="../assets/plugins/flatpickr/flatpickr.min.css">
	<link rel="stylesheet" href="../assets/plugins/@simonwep/pickr/themes/nano.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="../assets/css/style.css">

</head>

<body>





<!-- Mobile Header start -->
<div class="header">
	<div class="main-header">

		<div class="header-left">
			<a href="https://smarthr.co.in/demo/html/template/index.html" class="logo">
				<img src="https://smarthr.co.in/demo/html/template/assets/img/logo.svg" alt="Logo">
			</a>
			<a href="https://smarthr.co.in/demo/html/template/index.html" class="dark-logo">
				<img src="https://smarthr.co.in/demo/html/template/assets/img/logo-white.svg" alt="Logo">
			</a>
		</div>

		<a id="mobile_btn" class="mobile_btn" href="#sidebar">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
		</a>

		<div class="header-user">
			<div class="nav user-menu nav-list">

				<div class="me-auto d-flex align-items-center" id="header-search">
					<a id="toggle_btn" href="javascript:void(0);" class="btn btn-menubar me-1">
						<i class="ti ti-arrow-bar-to-left"></i>
					</a>
					<!-- Search -->
					<div class="input-group input-group-flat d-inline-flex me-1">
								<span class="input-icon-addon">
									<i class="ti ti-search"></i>
								</span>
						<input type="text" class="form-control" placeholder="Search in HRMS">
						<span class="input-group-text">
									<kbd>CTRL + / </kbd>
								</span>
					</div>
					<!-- /Search -->
					<div class="dropdown crm-dropdown">
						<a href="#" class="btn btn-menubar me-1" data-bs-toggle="dropdown">
							<i class="ti ti-layout-grid"></i>
						</a>
						<div class="dropdown-menu dropdown-lg dropdown-menu-start">
							<div class="card mb-0 border-0 shadow-none">
								<div class="card-header">
									<h4>CRM</h4>
								</div>
								<div class="card-body pb-1">
									<div class="row">
										<div class="col-sm-6">
											<a href="https://smarthr.co.in/demo/html/template/contacts.html" class="d-flex align-items-center justify-content-between p-2 crm-link mb-3">
														<span class="d-flex align-items-center me-3">
															<i class="ti ti-user-shield text-default me-2"></i>Contacts
														</span>
												<i class="ti ti-arrow-right"></i>
											</a>
											<a href="https://smarthr.co.in/demo/html/template/deals-grid.html" class="d-flex align-items-center justify-content-between p-2 crm-link mb-3">
														<span class="d-flex align-items-center me-3">
															<i class="ti ti-heart-handshake text-default me-2"></i>Deals
														</span>
												<i class="ti ti-arrow-right"></i>
											</a>
											<a href="https://smarthr.co.in/demo/html/template/pipeline.html" class="d-flex align-items-center justify-content-between p-2 crm-link mb-3">
														<span class="d-flex align-items-center me-3">
															<i class="ti ti-timeline-event-text text-default me-2"></i>Pipeline
														</span>
												<i class="ti ti-arrow-right"></i>
											</a>
										</div>
										<div class="col-sm-6">
											<a href="https://smarthr.co.in/demo/html/template/companies-grid.html" class="d-flex align-items-center justify-content-between p-2 crm-link mb-3">
														<span class="d-flex align-items-center me-3">
															<i class="ti ti-building text-default me-2"></i>Companies
														</span>
												<i class="ti ti-arrow-right"></i>
											</a>
											<a href="https://smarthr.co.in/demo/html/template/leads-grid.html" class="d-flex align-items-center justify-content-between p-2 crm-link mb-3">
														<span class="d-flex align-items-center me-3">
															<i class="ti ti-user-check text-default me-2"></i>Leads
														</span>
												<i class="ti ti-arrow-right"></i>
											</a>
											<a href="https://smarthr.co.in/demo/html/template/activity.html" class="d-flex align-items-center justify-content-between p-2 crm-link mb-3">
														<span class="d-flex align-items-center me-3">
															<i class="ti ti-activity text-default me-2"></i>Activities
														</span>
												<i class="ti ti-arrow-right"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<a href="https://smarthr.co.in/demo/html/template/profile-settings.html" class="btn btn-menubar">
						<i class="ti ti-settings-cog"></i>
					</a>
				</div>

				<!-- Header end -->


				<div class="d-flex align-items-center">
					<div class="me-1">
						<a href="#" class="btn btn-menubar btnFullscreen">
							<i class="ti ti-maximize"></i>
						</a>
					</div>
					<div class="dropdown me-1">
						<a href="#" class="btn btn-menubar" data-bs-toggle="dropdown">
							<i class="ti ti-layout-grid-remove"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-end">
							<div class="card mb-0 border-0 shadow-none">
								<div class="card-header">
									<h4>Applications</h4>
								</div>
								<div class="card-body">
									<a href="https://smarthr.co.in/demo/html/template/calendar.html" class="d-block pb-2">
										<span class="avatar avatar-md bg-transparent-dark me-2"><i class="ti ti-calendar text-gray-9"></i></span>Calendar
									</a>
									<a href="https://smarthr.co.in/demo/html/template/todo.html" class="d-block py-2">
										<span class="avatar avatar-md bg-transparent-dark me-2"><i class="ti ti-subtask text-gray-9"></i></span>To Do
									</a>
									<a href="https://smarthr.co.in/demo/html/template/notes.html" class="d-block py-2">
										<span class="avatar avatar-md bg-transparent-dark me-2"><i class="ti ti-notes text-gray-9"></i></span>Notes
									</a>
									<a href="https://smarthr.co.in/demo/html/template/file-manager.html" class="d-block py-2">
										<span class="avatar avatar-md bg-transparent-dark me-2"><i class="ti ti-folder text-gray-9"></i></span>File Manager
									</a>
									<a href="https://smarthr.co.in/demo/html/template/kanban-view.html" class="d-block py-2">
										<span class="avatar avatar-md bg-transparent-dark me-2"><i class="ti ti-layout-kanban text-gray-9"></i></span>Kanban
									</a>
									<a href="https://smarthr.co.in/demo/html/template/invoices.html" class="d-block py-2 pb-0">
										<span class="avatar avatar-md bg-transparent-dark me-2"><i class="ti ti-file-invoice text-gray-9"></i></span>Invoices
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="me-1">
						<a href="https://smarthr.co.in/demo/html/template/chat.html" class="btn btn-menubar position-relative">
							<i class="ti ti-brand-hipchat"></i>
							<span class="badge bg-info rounded-pill d-flex align-items-center justify-content-center header-badge">8</span>
						</a>
					</div>
					<div class="me-1">
						<a href="https://smarthr.co.in/demo/html/template/email.html" class="btn btn-menubar">
							<i class="ti ti-mail"></i>
						</a>
					</div>
					<div class="me-1 notification_item">
						<a href="#" class="btn btn-menubar position-relative me-1" id="notification_popup"
						   data-bs-toggle="dropdown">
							<i class="ti ti-bell"></i>
							<span class="notification-status-dot"></span>
						</a>
						<div class="dropdown-menu dropdown-menu-end notification-dropdown p-4">
							<div class="d-flex align-items-center justify-content-between border-bottom p-0 pb-3 mb-3">
								<h4 class="notification-title">Notifications (2)</h4>
								<div class="d-flex align-items-center">
									<a href="#" class="text-primary fs-15 me-3 lh-1">Mark all as read</a>
									<div class="dropdown">
										<a href="javascript:void(0);" class="bg-white dropdown-toggle"
										   data-bs-toggle="dropdown">
											<i class="ti ti-calendar-due me-1"></i>Today
										</a>
										<ul class="dropdown-menu mt-2 p-3">
											<li>
												<a href="javascript:void(0);" class="dropdown-item rounded-1">
													This Week
												</a>
											</li>
											<li>
												<a href="javascript:void(0);" class="dropdown-item rounded-1">
													Last Week
												</a>
											</li>
											<li>
												<a href="javascript:void(0);" class="dropdown-item rounded-1">
													Last Month
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="noti-content">
								<div class="d-flex flex-column">
									<div class="border-bottom mb-3 pb-3">
										<a href="https://smarthr.co.in/demo/html/template/activity.html">
											<div class="d-flex">
														<span class="avatar avatar-lg me-2 flex-shrink-0">
															<img src="https://smarthr.co.in/demo/html/template/assets/img/profiles/avatar-27.jpg" alt="Profile">
														</span>
												<div class="flex-grow-1">
													<p class="mb-1"><span
															class="text-dark fw-semibold">Shawn</span>
														performance in Math is below the threshold.</p>
													<span>Just Now</span>
												</div>
											</div>
										</a>
									</div>
									<div class="border-bottom mb-3 pb-3">
										<a href="https://smarthr.co.in/demo/html/template/activity.html" class="pb-0">
											<div class="d-flex">
														<span class="avatar avatar-lg me-2 flex-shrink-0">
															<img src="https://smarthr.co.in/demo/html/template/assets/img/profiles/avatar-23.jpg" alt="Profile">
														</span>
												<div class="flex-grow-1">
													<p class="mb-1"><span
															class="text-dark fw-semibold">Sylvia</span> added
														appointment on 02:00 PM</p>
													<span>10 mins ago</span>
													<div
															class="d-flex justify-content-start align-items-center mt-1">
														<span class="btn btn-light btn-sm me-2">Deny</span>
														<span class="btn btn-primary btn-sm">Approve</span>
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="border-bottom mb-3 pb-3">
										<a href="https://smarthr.co.in/demo/html/template/activity.html">
											<div class="d-flex">
														<span class="avatar avatar-lg me-2 flex-shrink-0">
															<img src="https://smarthr.co.in/demo/html/template/assets/img/profiles/avatar-25.jpg" alt="Profile">
														</span>
												<div class="flex-grow-1">
													<p class="mb-1">New student record <span class="text-dark fw-semibold"> George</span>
														is created by <span class="text-dark fw-semibold">Teressa</span>
													</p>
													<span>2 hrs ago</span>
												</div>
											</div>
										</a>
									</div>
									<div class="border-0 mb-3 pb-0">
										<a href="https://smarthr.co.in/demo/html/template/activity.html">
											<div class="d-flex">
														<span class="avatar avatar-lg me-2 flex-shrink-0">
															<img src="https://smarthr.co.in/demo/html/template/assets/img/profiles/avatar-01.jpg" alt="Profile">
														</span>
												<div class="flex-grow-1">
													<p class="mb-1">A new teacher record for <span class="text-dark fw-semibold">Elisa</span> </p>
													<span>09:45 AM</span>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
							<div class="d-flex p-0">
								<a href="#" class="btn btn-light w-100 me-2">Cancel</a>
								<a href="https://smarthr.co.in/demo/html/template/activity.html" class="btn btn-primary w-100">View All</a>
							</div>
						</div>
					</div>
					<div class="dropdown profile-dropdown">
						<a href="javascript:void(0);" class="dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
									<span class="avatar avatar-sm online">
										<img src="https://smarthr.co.in/demo/html/template/assets/img/profiles/avatar-12.jpg" alt="Img" class="img-fluid rounded-circle">
									</span>
						</a>
						<div class="dropdown-menu shadow-none">
							<div class="card mb-0">
								<div class="card-header">
									<div class="d-flex align-items-center">
												<span class="avatar avatar-lg me-2 avatar-rounded">
													<img src="https://smarthr.co.in/demo/html/template/assets/img/profiles/avatar-12.jpg" alt="img">
												</span>
										<div>
											<h5 class="mb-0">Kevin Larry</h5>
											<p class="fs-12 fw-medium mb-0"><a href="https://smarthr.co.in/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5720362525323917322f363a273b327934383a">[email&#160;protected]</a></p>
										</div>
									</div>
								</div>
								<div class="card-body">
									<a class="dropdown-item d-inline-flex align-items-center p-0 py-2"
									   href="https://smarthr.co.in/demo/html/template/profile.html">
										<i class="ti ti-user-circle me-1"></i>My Profile
									</a>
									<a class="dropdown-item d-inline-flex align-items-center p-0 py-2" href="https://smarthr.co.in/demo/html/template/bussiness-settings.html">
										<i class="ti ti-settings me-1"></i>Settings
									</a>

									<a class="dropdown-item d-inline-flex align-items-center p-0 py-2"
									   href="https://smarthr.co.in/demo/html/template/profile-settings.html">
										<i class="ti ti-circle-arrow-up me-1"></i>My Account
									</a>
									<a class="dropdown-item d-inline-flex align-items-center p-0 py-2" href="https://smarthr.co.in/demo/html/template/knowledgebase.html">
										<i class="ti ti-question-mark me-1"></i>Knowledge Base
									</a>
								</div>
								<div class="card-footer py-1">
									<a class="dropdown-item d-inline-flex align-items-center p-0 py-2" href="https://smarthr.co.in/demo/html/template/login.html"><i class="ti ti-login me-2"></i>Logout</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Mobile Menu -->
		<div class="dropdown mobile-user-menu">
			<a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="fa fa-ellipsis-v"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-end">
				<a class="dropdown-item" href="https://smarthr.co.in/demo/html/template/profile.html">My Profile</a>
				<a class="dropdown-item" href="https://smarthr.co.in/demo/html/template/profile-settings.html">Settings</a>
				<a class="dropdown-item" href="https://smarthr.co.in/demo/html/template/login.html">Logout</a>
			</div>
		</div>
		<!-- /Mobile Menu -->

	</div>

</div>
<!-- /Mobile Header  ends-->











<div class="sidebar" id="sidebar">

	<!-- Logo -->
	<div class="sidebar-logo">
		<a href="https://smarthr.co.in/demo/html/template/index.html" class="logo logo-normal">
			<img src="https://smarthr.co.in/demo/html/template/assets/img/logo.svg" alt="Logo">
		</a>
		<a href="https://smarthr.co.in/demo/html/template/index.html" class="logo-small">
			<img src="https://smarthr.co.in/demo/html/template/assets/img/logo-small.svg" alt="Logo">
		</a>
		<a href="https://smarthr.co.in/demo/html/template/index.html" class="dark-logo">
			<img src="https://smarthr.co.in/demo/html/template/assets/img/logo-white.svg" alt="Logo">
		</a>
	</div>




		<div class="sidebar-inner slimscroll">
		<div id="sidebar-menu" class="sidebar-menu">
			<ul>
				<li class="menu-title"><span>MAIN MENU</span></li>
				<li>
					<ul>
						<li>
							<a href="../super_admin/dashboard.html" class="active subdrop">
								<i class="ti ti-smart-home"></i><span>Dashboard</span><span
									class="badge badge-danger fs-10 fw-medium text-white p-1">Hot</span>
							</a>
						</li>

						<li>
							<a href="https://smarthr.co.in/demo/html/template/pricing.html">
								<i class="ti ti-file-dollar"></i><span>Pricing</span>
							</a>
						</li>

						<li>
							<a href="../super_admin/companies.html">
								<i class="ti ti-building"></i><span>Companies</span><span
									class="badge badge-danger fs-10 fw-medium text-white p-1">Hot</span>
							</a>
						</li>

						<li>
							<a href="../super_admin/packages.html">
								<i class="ti ti-heart-handshake"></i><span>Package</span>
							</a>
						</li>

						<li>
							<a href="../super_admin/purchase-transaction.html">
								<i class="ti ti-smart-home"></i><span>Purchase Transaction</span>
							</a>
						</li>
					</ul>
				</li>




				<li>
					<ul>

					<li class="menu-title"><span>Help & Supports</span></li>
				<li >
					<a href="../knowledgebase.html">
						<i class="ti ti-headset"></i><span>Knowledge Base</span>
					</a>
				</li>
				<li>
					<a href="../activity.html">
						<i class="ti ti-headset"></i><span>Activities</span>
					</a>
				</li>

				<li>
					<a href="../super_admin/purchase-transaction.html">
						<i class="ti ti-smart-home"></i><span>Contact Dev.</span>
					</a>
				</li>

					</ul>
				</li>


				<li class="menu-title"><span>COMMUNITY ENGAGEMENT</span></li>
				<li>
					<ul>
						<li>
							<a href="https://smarthr.co.in/demo/html/template/refferals.html">
								<i class="ti ti-ux-circle"></i><span>Referrals</span>
							</a>
						</li>


						<li class="submenu">
							<a href="../blogs.html">
								<i class="ti ti-brand-blogger"></i><span>Blogs</span>
							</a>
						</li>

						<li>
							<a href="https://smarthr.co.in/demo/html/template/testimonials.html">
								<i class="ti ti-message-2"></i><span>Testimonials</span>
							</a>
						</li>
						<li>
							<a href="https://smarthr.co.in/demo/html/template/faq.html">
								<i class="ti ti-question-mark"></i><span>FAQ’Ss</span>
							</a>
						</li>

					</ul>
				</li>

				<li class="menu-title"><span>SETTINGS</span></li>
				<li>
					<ul>
						<li>
						<a href="https://smarthr.co.in/demo/html/template/profile.html">
							<i class="ti ti-user-circle"></i><span>Profile</span>
						</a>
					</li>
						<li>
							<a href="https://smarthr.co.in/demo/html/template/starter.html">
								<i class="ti ti-layout-sidebar"></i><span>Notifications</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="menu-title"><span>AUTHENTICATION</span></li>
				<li>
					<ul>
						<li>
							<a href="../forgot-password.html">
								<i class="ti ti-help-triangle"></i><span>Forgot Password</span>
							</a>
						</li>
						<li class="submenu">
							<a href="../reset-password.html">
								<i class="ti ti-restore"></i><span>Reset Password</span>
							</a>
						</li>

						<li>
							<a href="https://smarthr.co.in/demo/html/template/privacy-policy.html">
								<i class="ti ti-file-description"></i><span>Privacy Policy</span>
							</a>
						</li>
						<li>
							<a href="https://smarthr.co.in/demo/html/template/terms-condition.html">
								<i class="ti ti-file-check"></i><span>Terms & Conditions</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- /Sidebar -->















<div class="page-wrapper">
	<div class="content">
		<!-- Breadcrumb -->
		<div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
			<div class="my-auto mb-2">
				<h2 class="mb-1">Dashboard</h2>
			</div>
			<div class="d-flex my-xl-auto right-content align-items-center flex-wrap ">
				<div class="input-icon mb-2 position-relative">
							<span class="input-icon-addon">
								<i class="ti ti-calendar text-gray-9"></i>
							</span>
					<input type="text" class="form-control date-range bookingrange" placeholder="dd/mm/yyyy - dd/mm/yyyy">
				</div>
				<div class="ms-2 head-icons">
					<a href="javascript:void(0);" class="" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Collapse" id="collapse-header">
						<i class="ti ti-chevrons-up"></i>
					</a>
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->

		<!-- Welcome Wrap -->
		<div class="welcome-wrap mb-4">
			<div class=" d-flex align-items-center justify-content-between flex-wrap">
				<div class="mb-3">
					<h2 class="mb-1 text-white">Welcome Back, Adrian</h2>
					<p class="text-light">14 New Companies Subscribed Today !!!</p>
				</div>
				<div class="d-flex align-items-center flex-wrap mb-1">
					<a href="https://smarthr.co.in/demo/html/template/companies.html" class="btn btn-dark btn-md me-2 mb-2">Companies</a>
					<a href="https://smarthr.co.in/demo/html/template/packages.html" class="btn btn-light btn-md mb-2">All Packages</a>
				</div>
			</div>
			<div class="welcome-bg">
				<img src="https://smarthr.co.in/demo/html/template/assets/img/bg/welcome-bg-02.svg" alt="img" class="welcome-bg-01">
				<img src="https://smarthr.co.in/demo/html/template/assets/img/bg/welcome-bg-03.svg" alt="img" class="welcome-bg-02">
				<img src="https://smarthr.co.in/demo/html/template/assets/img/bg/welcome-bg-01.svg" alt="img" class="welcome-bg-03">
			</div>
		</div>
		<!-- /Welcome Wrap -->

		<div class="row">

			<!-- Total Companies -->
			<div class="col-xl-3 col-sm-6 d-flex">
				<div class="card flex-fill">
					<div class="card-body">
						<div class="d-flex align-items-center justify-content-between">
									<span class="avatar avatar-md bg-dark mb-3">
										<i class="ti ti-building fs-16"></i>
									</span>
							<span class="badge bg-success fw-normal mb-3">
										+19.01%
									</span>
						</div>
						<div class="d-flex align-items-center justify-content-between">
							<div>
								<h2 class="mb-1">5468</h2>
								<p class="fs-13">Total Companies</p>
							</div>
							<div class="company-bar1">5,10,7,5,10,7,5</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Total Companies -->

			<!-- Active Companies -->
			<div class="col-xl-3 col-sm-6 d-flex">
				<div class="card flex-fill">
					<div class="card-body">
						<div class="d-flex align-items-center justify-content-between">
									<span class="avatar avatar-md bg-dark mb-3">
										<i class="ti ti-carousel-vertical fs-16"></i>
									</span>
							<span class="badge bg-danger fw-normal mb-3">
										-12%
									</span>
						</div>
						<div class="d-flex align-items-center justify-content-between">
							<div>
								<h2 class="mb-1">4598</h2>
								<p class="fs-13">Active Companies</p>
							</div>
							<div class="company-bar2">5,3,7,6,3,10,5</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Active Companies -->

			<!-- Total Subscribers -->
			<div class="col-xl-3 col-sm-6 d-flex">
				<div class="card flex-fill">
					<div class="card-body">
						<div class="d-flex align-items-center justify-content-between">
									<span class="avatar avatar-md bg-dark mb-3">
										<i class="ti ti-chalkboard-off fs-16"></i>
									</span>
							<span class="badge bg-success fw-normal mb-3">
										+6%
									</span>
						</div>
						<div class="d-flex align-items-center justify-content-between">
							<div>
								<h2 class="mb-1">3698</h2>
								<p class="fs-13">Total Subscribers</p>
							</div>
							<div class="company-bar3">8,10,10,8,8,10,8</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Total Subscribers -->

			<!-- Total Earnings -->
			<div class="col-xl-3 col-sm-6 d-flex">
				<div class="card flex-fill">
					<div class="card-body">
						<div class="d-flex align-items-center justify-content-between">
									<span class="avatar avatar-md bg-dark mb-3">
										<i class="ti ti-businessplan fs-16"></i>
									</span>
							<span class="badge bg-danger fw-normal mb-3">
										-16%
									</span>
						</div>
						<div class="d-flex align-items-center justify-content-between">
							<div>
								<h2 class="mb-1">₦89,878,58</h2>
								<p class="fs-13">Total Earnings</p>
							</div>
							<div class="company-bar4">5,10,7,5,10,7,5</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Total Earnings -->

		</div>

		<div class="row">

			<!-- Companies -->
			<div class="col-xxl-3 col-lg-6 d-flex">
				<div class="card flex-fill">
					<div class="card-header pb-2 d-flex align-items-center justify-content-between flex-wrap">
						<h5 class="mb-2">Companies</h5>
						<div class="dropdown mb-2">
							<a href="javascript:void(0);" class="btn btn-white border btn-sm d-inline-flex align-items-center" data-bs-toggle="dropdown">
								<i class="ti ti-calendar me-1"></i>This Week
							</a>
							<ul class="dropdown-menu  dropdown-menu-end p-3">
								<li>
									<a href="javascript:void(0);" class="dropdown-item rounded-1">This Month</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="dropdown-item rounded-1">This Week</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="dropdown-item rounded-1">Today</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="card-body">
						<div id="company-chart"></div>
						<p class="f-13 d-inline-flex align-items-center"><span class="badge badge-success me-1">+6%</span> 5 Companies  from last month</p>
					</div>
				</div>
			</div>
			<!-- /Companies -->

			<!-- Revenue -->
			<div class="col-lg-6 d-flex">
				<div class="card flex-fill">
					<div class="card-header pb-2 d-flex align-items-center justify-content-between flex-wrap">
						<h5 class="mb-2">Revenue</h5>
						<div class="dropdown mb-2">
							<a href="javascript:void(0);" class="btn btn-white border btn-sm d-inline-flex align-items-center" data-bs-toggle="dropdown">
								<i class="ti ti-calendar me-1"></i>2025
							</a>
							<ul class="dropdown-menu  dropdown-menu-end p-3">
								<li>
									<a href="javascript:void(0);" class="dropdown-item rounded-1">2024</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="dropdown-item rounded-1">2025</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="dropdown-item rounded-1">2023</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="card-body pb-0">
						<div class="d-flex align-items-center justify-content-between flex-wrap">
							<div class="mb-1">
								<h5 class="mb-1">₦45787</h5>
								<p><span class="text-success fw-bold">+40%</span> increased from last year</p>
							</div>
							<p class="fs-13 text-gray-9 d-flex align-items-center mb-1"><i class="ti ti-circle-filled me-1 fs-6 text-primary"></i>Revenue</p>
						</div>
						<div id="revenue-income"></div>
					</div>
				</div>
			</div>
			<!-- /Revenue -->

			<!-- Top Plans -->
			<div class="col-xxl-3 col-xl-12 d-flex">
				<div class="card flex-fill">
					<div class="card-header pb-2 d-flex align-items-center justify-content-between flex-wrap">
						<h5 class="mb-2">Top Plans</h5>
						<div class="dropdown mb-2">
							<a href="javascript:void(0);" class="btn btn-white border btn-sm d-inline-flex align-items-center" data-bs-toggle="dropdown">
								<i class="ti ti-calendar me-1"></i>This Month
							</a>
							<ul class="dropdown-menu  dropdown-menu-end p-3">
								<li>
									<a href="javascript:void(0);" class="dropdown-item rounded-1">This Month</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="dropdown-item rounded-1">This Week</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="dropdown-item rounded-1">Today</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="card-body">
						<div id="plan-overview"></div>
						<div class="d-flex align-items-center justify-content-between mb-2">
							<p class="f-13 mb-0"><i class="ti ti-circle-filled text-primary me-1"></i>Basic </p>
							<p class="f-13 fw-medium text-gray-9">60%</p>
						</div>
						<div class="d-flex align-items-center justify-content-between mb-2">
							<p class="f-13 mb-0"><i class="ti ti-circle-filled text-warning me-1"></i>Premium</p>
							<p class="f-13 fw-medium text-gray-9">20%</p>
						</div>
						<div class="d-flex align-items-center justify-content-between mb-0">
							<p class="f-13 mb-0"><i class="ti ti-circle-filled text-info me-1"></i>Enterprise</p>
							<p class="f-13 fw-medium text-gray-9">20%</p>
						</div>
					</div>
				</div>
			</div>
			<!-- /Top Plans -->

		</div>

		<div class="row">

			<!-- Recent Transactions -->
			<div class="col-xxl-4 col-xl-12 d-flex">
				<div class="card flex-fill">
					<div class="card-header pb-2 d-flex align-items-center justify-content-between flex-wrap">
						<h5 class="mb-2">Recent Transactions</h5>
						<a href="https://smarthr.co.in/demo/html/template/purchase-transaction.html" class="btn btn-light btn-md mb-2">View All</a>
					</div>
					<div class="card-body pb-2">
						<div class="d-sm-flex justify-content-between flex-wrap mb-3">
							<div class="d-flex align-items-center mb-2">
								<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
									<img src="https://smarthr.co.in/demo/html/template/assets/img/company/company-02.svg" class="img-fluid w-auto h-auto" alt="img">
								</a>
								<div class="ms-2 flex-fill">
									<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">Stellar Dynamics</a></h6>
									<p class="fs-13 d-inline-flex align-items-center"><span class="text-info">#12457</span><i class="ti ti-circle-filled fs-4 text-primary mx-1"></i>14 Jan 2025</p>
								</div>
							</div>
							<div class="text-sm-end mb-2">
								<h6 class="mb-1">+₦245</h6>
								<p class="fs-13">Basic (Monthly)</p>
							</div>
						</div>
						<div class="d-sm-flex justify-content-between flex-wrap mb-3">
							<div class="d-flex align-items-center mb-2">
								<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
									<img src="https://smarthr.co.in/demo/html/template/assets/img/company/company-03.svg" class="img-fluid w-auto h-auto" alt="img">
								</a>
								<div class="ms-2 flex-fill">
									<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">Quantum Nexus</a></h6>
									<p class="fs-13 d-inline-flex align-items-center"><span class="text-info">#65974</span><i class="ti ti-circle-filled fs-4 text-primary mx-1"></i>14 Jan 2025</p>
								</div>
							</div>
							<div class="text-sm-end mb-2">
								<h6 class="mb-1">+₦395</h6>
								<p class="fs-13">Enterprise (Yearly)</p>
							</div>
						</div>
						<div class="d-sm-flex justify-content-between flex-wrap mb-3">
							<div class="d-flex align-items-center mb-2">
								<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
									<img src="https://smarthr.co.in/demo/html/template/assets/img/company/company-05.svg" class="img-fluid w-auto h-auto" alt="img">
								</a>
								<div class="ms-2 flex-fill">
									<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">Aurora Technologies</a></h6>
									<p class="fs-13 d-inline-flex align-items-center"><span class="text-info">#22457</span><i class="ti ti-circle-filled fs-4 text-primary mx-1"></i>14 Jan 2025</p>
								</div>
							</div>
							<div class="text-sm-end mb-2">
								<h6 class="mb-1">+₦145</h6>
								<p class="fs-13">Advanced (Monthly)</p>
							</div>
						</div>
						<div class="d-sm-flex justify-content-between flex-wrap mb-3">
							<div class="d-flex align-items-center mb-2">
								<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
									<img src="https://smarthr.co.in/demo/html/template/assets/img/company/company-07.svg" class="img-fluid w-auto h-auto" alt="img">
								</a>
								<div class="ms-2 flex-fill">
									<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">TerraFusion Energy</a></h6>
									<p class="fs-13 d-inline-flex align-items-center"><span class="text-info">#43412</span><i class="ti ti-circle-filled fs-4 text-primary mx-1"></i>14 Jan 2025</p>
								</div>
							</div>
							<div class="text-sm-end mb-2">
								<h6 class="mb-1">+₦145</h6>
								<p class="fs-13">Enterprise (Monthly)</p>
							</div>
						</div>
						<div class="d-sm-flex justify-content-between flex-wrap mb-1">
							<div class="d-flex align-items-center mb-2">
								<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
									<img src="https://smarthr.co.in/demo/html/template/assets/img/company/company-08.svg" class="img-fluid w-auto h-auto" alt="img">
								</a>
								<div class="ms-2 flex-fill">
									<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">Epicurean Delights</a></h6>
									<p class="fs-13 d-inline-flex align-items-center"><span class="text-info">#43567</span><i class="ti ti-circle-filled fs-4 text-primary mx-1"></i>14 Jan 2025</p>
								</div>
							</div>
							<div class="text-sm-end mb-2">
								<h6 class="mb-1">+₦977</h6>
								<p class="fs-13">Premium (Yearly)</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Recent Transactions -->

			<!-- Recently Registered -->
			<div class="col-xxl-4 col-xl-6 d-flex">
				<div class="card flex-fill">
					<div class="card-header pb-2 d-flex align-items-center justify-content-between flex-wrap">
						<h5 class="mb-2">Recently Registration</h5>
						<a href="https://smarthr.co.in/demo/html/template/purchase-transaction.html" class="btn btn-light btn-md mb-2">View All</a>
					</div>
					<div class="card-body pb-2">
						<div class="d-sm-flex justify-content-between flex-wrap mb-3">
							<div class="d-flex align-items-center mb-2">
								<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
									<img src="https://smarthr.co.in/demo/html/template/assets/img/icons/company-icon-11.svg" class="img-fluid w-auto h-auto" alt="img">
								</a>
								<div class="ms-2 flex-fill">
									<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">Pitch</a></h6>
									<p class="fs-13">Basic (Monthly)</p>
								</div>
							</div>
							<div class="text-sm-end mb-2">
								<p class="fs-13 mb-1">150 Users</p>
								<h6 class="fs-13 fw-normal">pitch.example.com</h6>
							</div>
						</div>
						<div class="d-sm-flex justify-content-between flex-wrap mb-3">
							<div class="d-flex align-items-center mb-2">
								<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
									<img src="https://smarthr.co.in/demo/html/template/assets/img/icons/company-icon-12.svg" class="img-fluid w-auto h-auto" alt="img">
								</a>
								<div class="ms-2 flex-fill">
									<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">Initech</a></h6>
									<p class="fs-13">Enterprise (Yearly)</p>
								</div>
							</div>
							<div class="text-sm-end mb-2">
								<p class="fs-13 mb-1">200 Users</p>
								<h6 class="fs-13 fw-normal">initech.example.com</h6>
							</div>
						</div>
						<div class="d-sm-flex justify-content-between flex-wrap mb-3">
							<div class="d-flex align-items-center mb-2">
								<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
									<img src="https://smarthr.co.in/demo/html/template/assets/img/icons/company-icon-13.svg" class="img-fluid w-auto h-auto" alt="img">
								</a>
								<div class="ms-2 flex-fill">
									<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">Umbrella Corp</a></h6>
									<p class="fs-13">Advanced (Monthly)</p>
								</div>
							</div>
							<div class="text-sm-end mb-2">
								<p class="fs-13 mb-1">129 Users</p>
								<h6 class="fs-13 fw-normal">umbcorp.example.com</h6>
							</div>
						</div>
						<div class="d-sm-flex justify-content-between flex-wrap mb-3">
							<div class="d-flex align-items-center mb-2">
								<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
									<img src="https://smarthr.co.in/demo/html/template/assets/img/icons/company-icon-14.svg" class="img-fluid w-auto h-auto" alt="img">
								</a>
								<div class="ms-2 flex-fill">
									<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">Capital Partners</a></h6>
									<p class="fs-13">Enterprise (Monthly)</p>
								</div>
							</div>
							<div class="text-sm-end mb-2">
								<p class="fs-13 mb-1">103 Users</p>
								<h6 class="fs-13 fw-normal">capitalpart.example.com</h6>
							</div>
						</div>
						<div class="d-sm-flex justify-content-between flex-wrap mb-1">
							<div class="d-flex align-items-center mb-2">
								<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
									<img src="https://smarthr.co.in/demo/html/template/assets/img/icons/company-icon-15.svg" class="img-fluid w-auto h-auto" alt="img">
								</a>
								<div class="ms-2 flex-fill">
									<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">Massive Dynamic</a></h6>
									<p class="fs-13">Premium (Yearly)</p>
								</div>
							</div>
							<div class="text-sm-end mb-2">
								<p class="fs-13 mb-1">108 Users</p>
								<h6 class="fs-13 fw-normal">msdynamic.example.com</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Recent Registered -->

			<div class="col-xxl-4 col-xl-6 d-flex">
				<div class="card flex-fill">
					<div class="card-header pb-2 d-flex align-items-center justify-content-between flex-wrap">
						<h5 class="mb-2">Recent Expired Plan</h5>
						<div class="dropdown mb-2">
							<a href="javascript:void(0);" class="dropdown-toggle btn btn-white border btn-sm d-inline-flex align-items-center fs-13" >
								Expired
							</a>
							<div class="dropdown-menu dropdown-menu-end p-3">
								<ul class="nav d-block">
									<li>
										<a href="javascript:void(0);" class="dropdown-item d-block rounded-1" data-bs-toggle="tab" data-bs-target="#expired">Expired</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card-body pb-2">
						<div class="tab-content">
							<div class="tab-pane fade show active" id="expired">
								<div class="d-sm-flex justify-content-between flex-wrap mb-3">
									<div class="d-flex align-items-center mb-2">
										<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
											<img src="https://smarthr.co.in/demo/html/template/assets/img/icons/company-icon-16.svg" class="img-fluid w-auto h-auto" alt="img">
										</a>
										<div class="ms-2 flex-fill">
											<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">Silicon Corp</a></h6>
											<p class="fs-13">Expired : 10 Apr 2025</p>
										</div>
									</div>
									<div class="text-sm-end mb-2">
										<a href="javascript:void(0);" class="link-info text-decoration-underline d-block mb-1">Send Reminder</a>
										<p class="fs-13">Basic (Monthly)</p>
									</div>
								</div>
								<div class="d-sm-flex justify-content-between flex-wrap mb-3">
									<div class="d-flex align-items-center mb-2">
										<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
											<img src="https://smarthr.co.in/demo/html/template/assets/img/icons/company-icon-14.svg" class="img-fluid w-auto h-auto" alt="img">
										</a>
										<div class="ms-2 flex-fill">
											<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">Hubspot</a></h6>
											<p class="fs-13">Expired : 12 Jun 2025</p>
										</div>
									</div>
									<div class="text-sm-end mb-2">
										<a href="javascript:void(0);" class="link-info text-decoration-underline d-block mb-1">Send Reminder</a>
										<p class="fs-13">Enterprise (Yearly)</p>
									</div>
								</div>
								<div class="d-sm-flex justify-content-between flex-wrap mb-3">
									<div class="d-flex align-items-center mb-2">
										<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
											<img src="https://smarthr.co.in/demo/html/template/assets/img/icons/company-icon-18.svg" class="img-fluid w-auto h-auto" alt="img">
										</a>
										<div class="ms-2 flex-fill">
											<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">Licon Industries</a></h6>
											<p class="fs-13">Expired : 16 Jun 2025</p>
										</div>
									</div>
									<div class="text-sm-end mb-2">
										<a href="javascript:void(0);" class="link-info text-decoration-underline d-block mb-1">Send Reminder</a>
										<p class="fs-13">Advanced (Monthly)</p>
									</div>
								</div>
								<div class="d-flex justify-content-between flex-wrap mb-3">
									<div class="d-flex align-items-center mb-2">
										<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
											<img src="https://smarthr.co.in/demo/html/template/assets/img/company/company-07.svg" class="img-fluid w-auto h-auto" alt="img">
										</a>
										<div class="ms-2 flex-fill">
											<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">TerraFusion Energy</a></h6>
											<p class="fs-13">Expired : 12 May 2025</p>
										</div>
									</div>
									<div class="text-sm-end mb-2">
										<a href="javascript:void(0);" class="link-info text-decoration-underline d-block mb-1">Send Reminder</a>
										<p class="fs-13">Enterprise (Monthly)</p>
									</div>
								</div>
								<div class="d-sm-flex justify-content-between flex-wrap mb-1">
									<div class="d-flex align-items-center mb-2">
										<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
											<img src="https://smarthr.co.in/demo/html/template/assets/img/company/company-08.svg" class="img-fluid w-auto h-auto" alt="img">
										</a>
										<div class="ms-2 flex-fill">
											<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">Epicurean Delights</a></h6>
											<p class="fs-13">Expired : 15 May 2025</p>
										</div>
									</div>
									<div class="text-sm-end mb-2">
										<a href="javascript:void(0);" class="link-info text-decoration-underline d-block mb-1">Send Reminder</a>
										<p class="fs-13">Premium (Yearly)</p>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="request">
								<div class="d-flex justify-content-between mb-4">
									<div class="d-flex align-items-center overflow-hidden">
										<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
											<img src="https://smarthr.co.in/demo/html/template/assets/img/icons/company-icon-16.svg" class="img-fluid w-auto h-auto" alt="img">
										</a>
										<div class="ms-2 flex-fill overflow-hidden">
											<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">Silicon Corp</a></h6>
											<p class="fs-13 text-info text-truncate">silicon.example.com</p>
										</div>
									</div>
									<div class="d-flex align-items-center">
										<a href="javascript:void(0);" class="link-success text-decoration-underline fs-13 fw-medium me-3">Approve</a>
										<a href="javascript:void(0);" class="link-danger text-decoration-underline fs-13 fw-medium">Reject</a>
									</div>
								</div>
								<div class="d-flex justify-content-between mb-4">
									<div class="d-flex align-items-center overflow-hidden">
										<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
											<img src="https://smarthr.co.in/demo/html/template/assets/img/icons/company-icon-14.svg" class="img-fluid w-auto h-auto" alt="img">
										</a>
										<div class="ms-2 flex-fill overflow-hidden">
											<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">Hubspot</a></h6>
											<p class="fs-13 text-info text-truncate">hubspot.example.com</p>
										</div>
									</div>
									<div class="d-flex align-items-center">
										<a href="javascript:void(0);" class="link-success text-decoration-underline fs-13 fw-medium me-3">Approve</a>
										<a href="javascript:void(0);" class="link-danger text-decoration-underline fs-13 fw-medium">Reject</a>
									</div>
								</div>
								<div class="d-flex justify-content-between mb-4">
									<div class="d-flex align-items-center overflow-hidden">
										<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
											<img src="https://smarthr.co.in/demo/html/template/assets/img/icons/company-icon-18.svg" class="img-fluid w-auto h-auto" alt="img">
										</a>
										<div class="ms-2 flex-fill overflow-hidden">
											<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">Licon Industries</a></h6>
											<p class="fs-13 text-info text-truncate">licon.example.com</p>
										</div>
									</div>
									<div class="d-flex align-items-center">
										<a href="javascript:void(0);" class="link-success text-decoration-underline fs-13 fw-medium me-3">Approve</a>
										<a href="javascript:void(0);" class="link-danger text-decoration-underline fs-13 fw-medium">Reject</a>
									</div>
								</div>
								<div class="d-flex justify-content-between mb-4">
									<div class="d-flex align-items-center overflow-hidden">
										<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
											<img src="https://smarthr.co.in/demo/html/template/assets/img/company/company-07.svg" class="img-fluid w-auto h-auto" alt="img">
										</a>
										<div class="ms-2 flex-fill overflow-hidden">
											<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">TerraFusion Energy</a></h6>
											<p class="fs-13 text-info text-truncate">fusion.example.com</p>
										</div>
									</div>
									<div class="d-flex align-items-center">
										<a href="javascript:void(0);" class="link-success text-decoration-underline fs-13 fw-medium me-3">Approve</a>
										<a href="javascript:void(0);" class="link-danger text-decoration-underline fs-13 fw-medium">Reject</a>
									</div>
								</div>
								<div class="d-flex justify-content-between mb-0">
									<div class="d-flex align-items-center overflow-hidden">
										<a href="javscript:void(0);" class="avatar avatar-md bg-gray-100 rounded-circle flex-shrink-0">
											<img src="https://smarthr.co.in/demo/html/template/assets/img/company/company-08.svg" class="img-fluid w-auto h-auto" alt="img">
										</a>
										<div class="ms-2 flex-fill overflow-hidden">
											<h6 class="fs-medium text-truncate mb-1"><a href="javscript:void(0);">Epicurean Delights</a></h6>
											<p class="fs-13 text-info text-truncate">epicuran.example.com</p>
										</div>
									</div>
									<div class="d-flex align-items-center">
										<a href="javascript:void(0);" class="link-success text-decoration-underline fs-13 fw-medium me-3">Approve</a>
										<a href="javascript:void(0);" class="link-danger text-decoration-underline fs-13 fw-medium">Reject</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Recent Plan Expired -->

		</div>

	</div>

	<div class="footer d-sm-flex align-items-center justify-content-between border-top bg-white p-3">
		<p class="mb-0">2025 &copy; IntellijHR.</p>
		<p>Designed &amp; Developed By <a href="javascript:void(0);" class="text-primary">Israel</a></p>
	</div>

</div>







<!-- jQuery -->
<script data-cfasync="false" src="../../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="../assets/js/jquery-3.7.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="../assets/js/bootstrap.bundle.min.js"></script>

<!-- Feather Icon JS -->
<script src="../assets/js/feather.min.js"></script>

<!-- Slimscroll JS -->
<script src="../assets/js/jquery.slimscroll.min.js"></script>

<!-- Chart JS -->
<script src="../assets/plugins/apexchart/apexcharts.min.js"></script>
<script src="../assets/plugins/apexchart/chart-data.js"></script>

<!-- Chart JS -->
<script src="../assets/plugins/chartjs/chart.min.js"></script>
<script src="../assets/plugins/chartjs/chart-data.js"></script>

<!-- Datetimepicker JS -->
<script src="../assets/js/moment.js"></script>
<script src="../assets/js/bootstrap-datetimepicker.min.js"></script>

<!-- Daterangepikcer JS -->
<script src="../assets/plugins/daterangepicker/daterangepicker.js"></script>

<!-- Summernote JS -->
<script src="../assets/plugins/summernote/summernote-lite.min.js"></script>

<!-- Select2 JS -->
<script src="../assets/plugins/select2/js/select2.min.js"></script>

<!-- Chart JS -->
<script src="https://smarthr.co.in/demo/html/template/assets/plugins/peity/jquery.peity.min.js"></script>
<script src="https://smarthr.co.in/demo/html/template/assets/plugins/peity/chart-data.js"></script>

<!-- Color Picker JS -->
<script src="../assets/plugins/@simonwep/pickr/pickr.es5.min.js"></script>

<!-- Custom JS -->
<script src="../assets/js/theme-colorpicker.js"></script>
<script src="../assets/js/script.js"></script>
</body>



<!-- Mirrored from smarthr.co.in/demo/html/template/dashboard by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Mar 2025 07:13:43 GMT -->
</html>