<div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
        <ul>
            <li class="menu-title"><span>MAIN MENU</span></li>
            <li>
                <ul>
                    <li>
                        <a href="../super_admin/dashboard.html" class="active subdrop">
                            <i class="ti ti-smart-home"></i><span>Dashboard</span><span
                                class="badge badge-danger fs-10 fw-medium text-white p-1">Hot</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://smarthr.co.in/demo/html/template/pricing.html">
                            <i class="ti ti-file-dollar"></i><span>Pricing</span>
                        </a>
                    </li>

                    <li>
                        <a href="../super_admin/companies.html">
                            <i class="ti ti-building"></i><span>Companies</span><span
                                class="badge badge-danger fs-10 fw-medium text-white p-1">Hot</span>
                        </a>
                    </li>

                    <li>
                        <a href="../super_admin/packages.html">
                            <i class="ti ti-heart-handshake"></i><span>Package</span>
                        </a>
                    </li>

                    <li>
                        <a href="../super_admin/purchase-transaction.html">
                            <i class="ti ti-smart-home"></i><span>Purchase Transaction</span>
                        </a>
                    </li>
                </ul>
            </li>




            <li>
                <ul>

                    <li class="menu-title"><span>Help & Supports</span></li>
                    <li >
                        <a href="../knowledgebase.html">
                            <i class="ti ti-headset"></i><span>Knowledge Base</span>
                        </a>
                    </li>
                    <li>
                        <a href="../activity.html">
                            <i class="ti ti-headset"></i><span>Activities</span>
                        </a>
                    </li>

                    <li>
                        <a href="../super_admin/purchase-transaction.html">
                            <i class="ti ti-smart-home"></i><span>Contact Dev.</span>
                        </a>
                    </li>

                </ul>
            </li>


            <li class="menu-title"><span>COMMUNITY ENGAGEMENT</span></li>
            <li>
                <ul>
                    <li>
                        <a href="https://smarthr.co.in/demo/html/template/refferals.html">
                            <i class="ti ti-ux-circle"></i><span>Referrals</span>
                        </a>
                    </li>


                    <li class="submenu">
                        <a href="../blogs.html">
                            <i class="ti ti-brand-blogger"></i><span>Blogs</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://smarthr.co.in/demo/html/template/testimonials.html">
                            <i class="ti ti-message-2"></i><span>Testimonials</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://smarthr.co.in/demo/html/template/faq.html">
                            <i class="ti ti-question-mark"></i><span>FAQ’Ss</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="menu-title"><span>SETTINGS</span></li>
            <li>
                <ul>
                    <li>
                        <a href="https://smarthr.co.in/demo/html/template/profile.html">
                            <i class="ti ti-user-circle"></i><span>Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://smarthr.co.in/demo/html/template/starter.html">
                            <i class="ti ti-layout-sidebar"></i><span>Notifications</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-title"><span>AUTHENTICATION</span></li>
            <li>
                <ul>
                    <li>
                        <a href="../forgot-password.html">
                            <i class="ti ti-help-triangle"></i><span>Forgot Password</span>
                        </a>
                    </li>
                    <li class="submenu">
                        <a href="../reset-password.html">
                            <i class="ti ti-restore"></i><span>Reset Password</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://smarthr.co.in/demo/html/template/privacy-policy.html">
                            <i class="ti ti-file-description"></i><span>Privacy Policy</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://smarthr.co.in/demo/html/template/terms-condition.html">
                            <i class="ti ti-file-check"></i><span>Terms & Conditions</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</div>
<!-- /Sidebar -->
